{% extends 'base.html.twig' %}

{% block title %}Blog list{% endblock %}

{% block body %}
<h1>Blog list page</h1>
<h3>Author info</h3>
{# the image lives at "public/images/logo.png" #}
<img id="node-image" src="{{ asset('images/node.png') }}" alt="Symfony!"/>

{# the CSS file lives at "public/css/blog.css" #}
<link href="{{ asset('styles/app.css') }}" rel="stylesheet"/>
<ul>
        <li>{{ author.name }}</li>
        <li>{{ author.email }}</li>
</ul>
<ol>
    {%  for tag in slugs %}
        <li>
                <a href="{{ path('blog_show', {slug: tag}) }}">{{ tag }}</a>
        </li>
    {%  endfor %}
</ol>
{% endblock %}